<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>Quizup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'bootstrap-rtl', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap-rtl.min', media: 'all' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%if !user_signed_in? %>
	<%= render(:partial => 'layouts/header' )%>
<%else%>
	<%= render(:partial => 'layouts/userheader' )%>
<%end%>

<%= render(:partial => 'layouts/footer' )%>
<%= yield %>

</body>
</html>
