<p id="notice"><%= notice %></p>
<h3>لیست عنوان‌های شما</h3>
<table>
 <tbody>
 <tr>
  <%params[:q]= current_user.id%>
        <%@topics = Topic.where("user_id LIKE ? ", "%#{params[:q]}%")%>
        <%if !@topics.blank?%>
          <% for topic in @topics%>
      
        <td><%= topic.name   %></td>
        <!--<td><%= topic.language %></td> -->
        <td><%= topic.category.name   %></td>
        <td><%= link_to 'نمایش', topic %></td>
        <td><%= link_to 'ویرایش', edit_topic_path(topic) %></td>
        <td><%= link_to 'حذف', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
          <%end%>
        <% else %>
        عنوانی برای شما یافت نشد.
        <%end%>
        
  </tbody>

  </table>
<br><br><br>
<%= link_to 'کوییز جدید', new_topic_path %>
<%= link_to 'بازگشت', new_topic_path %>