<p id="notice"><%= notice %></p>

<p>
  <strong> نام</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>دسته بندی:</strong>
  <%= @topic.category.name %>
</p>

<%=link_to 'ایجاد سوال جدید' , new_question_path  %>

<%= link_to 'ویرایش', edit_topic_path(@topic) %> 
<%= link_to 'بازگشت', topics_path %>
